/* GLOBAL */
* { 
  margin: 0; 
  padding: 0; 
  /* -moz-box-sizing: border-box; 
  box-sizing: border-box;  */
  }

body { 
font-family: 'Roboto', sans-serif; 
background-image: linear-gradient(white, rgba(232, 240, 255, 0.300), white);
}
/* h1,h2,h3,h4,h5,h6,a{
  margin:0;
} */
a {
color: inherit;
}


/* HEADER */

header{
  height: 100px;
  width: 100%;
  background-color: white;
  /* margin: 50px auto; */
}

nav{
  top: 0%;
  height: 100px;
  width: 100%;
  /* width: 200px; */
  position: fixed;
  background-image: linear-gradient(white, rgba(255, 252, 237,0.300));
  /* padding: 22px; */
  text-align: center;
}
#pageTitle{
  /* margin-bottom: 10px; */
}
nav ul li{
  list-style: none;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
nav ul li a{
  margin: 8px;
  padding: 10ps;
  font-size: 1.2 em;
  text-decoration: none;
  /* transition: all 0.3s ease-out; */
}
.nav-list{

}
.nav-list-mobile{

}
.nav-list-reg{

}








/* ALL SECTIONS */
section{
  border: solid;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
}

section h2{
  text-align: center;
}

article{
  border: solid;
  align-items: center;
}

p{
  line-height: 1.75;
}

ul{
  list-style-type: none;
  list-style-position: inside;
  line-height: 1.75;
}

li span{
  /* margin-left: -15px; */
}



/* ABOUT SECTION */

#about{
  margin-top: 50px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  max-width: 1019px;
}

#picture{
  width: 250px;
  border-radius: 10%;
  border: 1px solid rgb(232, 240, 255);
}

.linkIcon{
  width: 20px;
  vertical-align: middle;
}



/*PORTFOLIO SECTION*/
#portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  /* grid-auto-rows: 1fr; */
  max-width: 1019px;
}

.gridOdds{
  background-image: linear-gradient(white, rgba(255, 252, 237,0.300));
}

.projectScreenshot{
  width: 80%;
  /* border: solid; */
  /* vertical-align: bottom; */
}

#portfolio img{
  border: solid;
  /* vertical-align: middle; */
  margin: auto auto;
}

